<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlphaSneakers</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
  <!-- Menú de navegación -->
  <nav>
    <!-- Código HTML del menú de navegación de Nike -->
      <!--Similar Nike navigation menu HTML code here-->



  </nav>

  {% block content %}{% endblock %}

  <!-- Pie de página -->
  <footer>
    <!-- Código HTML del pie de página de Nike -->
  </footer>
</body>
</html>
