/*
this in header
 */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu a:hover {
    color: #ccc;
}

.menu li form {
    display: flex;
    align-items: center;
}

.menu li input[type="text"] {
    width: 250px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    border-radius: 3px 0 0 3px;
}

.menu li button[type="submit"] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.menu-secundario {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-secundario li {
    margin: 0 10px;
}

.menu-secundario a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu-secundario a:hover {
    color: #ccc;
}

/* this in footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-secciones {
    width: 25%;
}

.footer-secciones h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-secciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-secciones li {
    margin-bottom: 10px;
}

.footer-secciones a {
    color: #fff;
    text-decoration: none;
}

.footer-secciones a:hover {
    color: #ccc;
}

.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}

.redes-sociales i {
    font-size: 22px;
    color: #fff;
    margin-right: 5px;
}

.derechos-reservados {
    text-align: center;
    margin: 20px 0;
}
