/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* Slider de imágenes */
.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.slider li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity .5s;
}

.slider li:first-child {
    opacity: 1;
}

/* Sección de productos destacados */
.productos-destacados {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
}

.producto img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.producto h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto p {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.producto .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.producto .boton:hover {
    background-color: #fff;
    color: #333;
}

